.homepage {
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;
    color: white;
}

.welcome-msg {
    font-size: 3rem;
    position: absolute;
    margin: 2%;
}

.think-box {
    background: rgba(232, 236, 241, 0.8);
    color: black;
    line-height: 2rem;
    padding: 2%;
    width: 50%;
    height: 100%;
    float: right;
    font-size: 1.1rem;
    overflow-y: hidden;
}